@import "navigation.css";
@import "social.css";
@import "footer.css";

* {
  margin: 0;
  padding: 0;
}

body{
  background-color:	#F5F5F5;
  font-family: 'Poppins', sans-serif;

}

#topbar{
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
/*  background-color: black;*/
}

#hamburger {
  height: 35px;
  width: 35px;
  margin-left: 25px;
}


#search{
  color: white;
  display: flex;
  align-items: baseline;
  margin-right: 25px;
}

#searchwords{
  border-bottom: 2px #FFD700 solid;
  padding-right: 15px;
  font-weight: 600;
  font-size: 1.5em;
}

#mag-icon{
  width: 25px;
  height: 20px;
}

#herophoto{
  grid-area: photo;
  background: url("../images/basketball2.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  height: 580px;

}



h1{
  color: #fff;
  /*text-shadow: 2px 2px 	#585858;*/
  text-align: center;
  position: relative;

  font-family: 'Staatliches', sans-serif;
  font-size: 50px;
}




#overlay{
  background-color: rgba(0, 0, 0, 0.25);
  height: 100%;
  width: 100%;
  /*
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
*/

}




#mainarticle{
  display: flex;
  flex-direction: column;
  margin-left: 100px;

}

#main-title{

}

#herocontent{
  display: flex;
  justify-content: space-between;
  margin-right: 25px;
    margin-top: 150px;
}

h2 {
  font-family: 'Reenie Beanie', cursive;
  font-family: 'Open Sans', sans-serif;
  font-size: 70px;
  font-weight: 400;
  color: white;
}

.more{
  color: white;
}

.more:hover{
  border-bottom: 1px solid #FFD700;
  cursor: pointer;
}

#pagecontainer {
  border: 1px #DCDCDC solid;
  max-width: 80%;
  /*border: 1px solid black;*/
  background-color: #fff;
  margin: auto;

  position: relative;
  /*

  display: grid;
  grid-template-rows: 525px 650px 100px;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
                  "blogs social"
                  "blogs archive"
                  "foot foot";
                  */

}

#blogs {
  /*
  grid-area: blogs;
  border: 1px solid black;
  */
  margin: 20px;
}

#blogcards{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}



.card {
  /*
    border: .5px solid #E8E8E8;
    */
  height: 450px;
  width: 100%;

  margin-right: 15px;
  margin-bottom: 15px;
  font-size: 14px;
  display: flex;
  justify-content:flex-start;
  align-items: center;
}



.card a:hover {
  box-shadow: 5px 5px 3px #A9A9A9;
}


.thumbnailphoto{
  width: 400px;
  height: 420px;
  background-color:	#888;
  border-radius: 5px;
}

#thumbnailphoto1 {
  background-image: url("../images/ballshoes.jpg");
  background-size: cover;
}

.thumbnailcopy {
  width: 600px;
  margin: auto;
}

.byline{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.blogthumbtitle {
  font-weight: bold;
  font-size: 16px;
}

.blogthumbdate{
  font-size: 14px;
  font-weight: lighter;
}


.blogblurb{
  margin-top: 15px;
  font-size: 16px;
  margin-bottom: 30px;
}




.articlelink{
  padding: 8px;
  border-radius: 5px;
  border: 3px solid #FFD700;
}

.articlelink:hover{
  background-color: #FFD700;
  cursor: pointer;
}

#archive {
  grid-area: archive;
  margin: 20px;
  max-height: 800px;
}

#archive ul{
  margin-top: 10px;
}

#archive ul li{
  list-style: none;
  padding: 10px 30px 10px 30px;
  font-size: 18px;
  border: 1px solid #fff;
  background: #888888;
  text-align: center;
}

#archive ul li a {
  text-decoration: none;
  color: #FFF;

}

#archive ul li a:hover {
  font-weight: bold;
}

footer {
  grid-area: foot;
  border-top: .5px solid 	#D0D0D0;
  display: flex;
  flex-direction: column;
  justify-content: center;

}



/*MEDIA QUERIES*/
@media(max-width: 1375px){

  #pagecontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}
/*
    #navbar {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 20px;
      margin-bottom: 20px;
    }
*/

#blogs {
  /*
  grid-area: blogs;
  border: 1px solid black;
  */
  margin: 5px;
}
    #herophoto{
      background-repeat: no-repeat;
      background-size: cover;
      height: 500px;
    }

    .card {
      height: 500px;
      margin-right: 10px;
      margin-bottom: 10px;
      font-size: 12px;
    }


    .thumbnailcopy {
      padding: 10px;
    }
}


@media(max-width: 1125px){

  #pagecontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}
/*
    #navbar {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 20px;
      margin-bottom: 20px;
    }
*/

#blogs {
  /*
  grid-area: blogs;
  border: 1px solid black;
  */
  margin: 5px;
}

    .card {
      height: 500px;
      margin-right: 10px;
      margin-bottom: 10px;
      align-items: flex-start;
    }

.thumbnailphoto{
  height: 300px;
  width: 300px;
}
    .thumbnailcopy {
      padding: 10px;
      margin: 0 auto;
    }

.blogthumbtitle{
  font-size: 14px;
}

.blogthumbdate{
  font-size: 12px;
}
    .blogblurb{
      font-size: 14px;
    }
}

@media(max-width: 925px){



#blogs {
  /*
  grid-area: blogs;
  border: 1px solid black;
  */
  margin: 2px;
}

    .card {
      height: 500px;
      margin-right: 10px;
      margin-bottom: 10px;
      align-items: flex-start;
    }

.thumbnailphoto{

}

    .thumbnailcopy {
      padding: 10px;
    }

    .blogblurb{
      font-size: 14px;
    }
}

@media(max-width: 800px){



#blogs {
  margin: 0;
}

    .card {
      height: 750px;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

.thumbnailphoto{
width: 450px;
height: 350px;
}

    .thumbnailcopy {
      margin: 20px auto;
      width: 75%;
    }
/*
    .byline{
      display: flex;
      font-size: 20px;
      align-items: center;
      justify-content: space-between;

    }
*/
.byline{
  align-items: center;
}

.blogthumbtitle{
    font-size: 16px;
}
.blogthumbdate{
  margin: 0;
  font-size: 12px;
}
    .blogblurb{
      font-size: 14px;
    }
}


@media(max-width: 700px){
  h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
  }


#pagecontainer{
  max-width: 100%;
}

    .card {
      height: 850px;
    }

.thumbnailphoto{
}

    .thumbnailcopy {
      margin: 5px auto;
      width: 75%;
    }
/*
    .byline{
      display: flex;
      font-size: 20px;
      align-items: center;
      justify-content: space-between;

    }
*/
.byline{
  align-items: center;
}


@media(max-width: 500px){
  h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
  }

#herophoto{

}


  #mainarticle{
    margin: auto;
    text-align: center;
  }


  #herocontent{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
  }

  #socialiconslist {
    margin-top: 5px;
    padding-top: 20px;
    flex-direction: row;
  }

  .socialicons img {
    padding: 5px 10px 0 10px;
    max-width: 30px;
    max-height: 30px;
  }
}


@media(max-width: 450px){
h1{
  font-size: 35px;
}
  #hamburger {
    height: 23px;
    width: 23px;
    margin-left: 15px;
  }


  #search{
    color: white;
    display: flex;
    align-items: flex-start;
    margin-right: 15px;
  }

  #searchwords{
    border-bottom: 2px #FFD700 solid;
    padding-right: 15px;
    font-weight: 500;
    font-size: 1em;
  }

  #mag-icon{
    width: 20px;
    height: 20px;
  }

  #herophoto{
    background: url("../images/basketball.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    height: 580px;
  }
}
