#navbar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  /*border: 1px solid black;*/
  /*background-color: #FFF0F5;*/
  /*background-color: rgba(0, 0, 0, 0.35);*/
  align-items: center;
  font-weight: 700;
  background-color: black;
  opacity: 85%;
}

.pagelinks {
  color: #F5F5F5;
    text-decoration: none;
  }

.pagelinks:hover {
  /*text-shadow: 2px 2px #C0C0C0;*/
  border-bottom: 4px #FFD700 solid;
}
